/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO

IF DB_ID(N'MediBookDB') IS NULL
BEGIN
    CREATE DATABASE [MediBookDB]
END
GO

USE [MediBookDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MediBookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MediBookDB]
GO
/****** Object:  User [MediBookUser]    Script Date: 03-09-2026 14:29:30 ******/
CREATE USER [MediBookUser] FOR LOGIN [MediBookUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MediBookUser]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AppointmentType] [nvarchar](50) NULL,
	[Reason] [nvarchar](500) NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
	[Qualification] [nvarchar](150) NULL,
	[Experience] [int] NULL,
	[Email] [nvarchar](150) NULL,
	[Mobile] [nvarchar](20) NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[ProfileImage] [nvarchar](500) NULL,
	[Location] [nvarchar](150) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorSchedules]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[DayOfWeek] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Type] [nvarchar](100) NULL,
	[Category] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Location] [nvarchar](150) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Mobile] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](20) NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[Address] [nvarchar](250) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-09-2026 14:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [HospitalId], [AppointmentDate], [AppointmentTime], [Status], [AppointmentType], [Reason], [ConsultationFee], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, 1, CAST(N'2026-09-10' AS Date), CAST(N'10:30:00' AS Time), N'Pending', N'Consultation', N'Regular consultation', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-09-03T04:47:31.8614268' AS DateTime2), NULL)
INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [HospitalId], [AppointmentDate], [AppointmentTime], [Status], [AppointmentType], [Reason], [ConsultationFee], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 1, 1, CAST(N'2026-09-15' AS Date), CAST(N'10:30:00' AS Time), N'Pending', N'Consultation', N'Regular consultation', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-09-03T06:17:13.6080357' AS DateTime2), NULL)
INSERT [dbo].[Appointments] ([Id], [PatientId], [DoctorId], [HospitalId], [AppointmentDate], [AppointmentTime], [Status], [AppointmentType], [Reason], [ConsultationFee], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 1, 1, CAST(N'2026-09-03' AS Date), CAST(N'09:00:00' AS Time), N'Pending', N'Consultation', N'Regular consultation', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-09-03T06:34:57.2338705' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [UserId], [HospitalId], [Name], [Specialization], [Qualification], [Experience], [Email], [Mobile], [ConsultationFee], [ProfileImage], [Location], [Status], [CreatedAt]) VALUES (1, 1, 1, N'Dr. Michael', N'Cardiology', N'MBBS, MD', 10, N'michael@medibook.com', N'9876543210', CAST(500.00 AS Decimal(10, 2)), NULL, N'Chennai', N'Active', CAST(N'2026-09-03T04:44:19.6789844' AS DateTime2))
INSERT [dbo].[Doctors] ([Id], [UserId], [HospitalId], [Name], [Specialization], [Qualification], [Experience], [Email], [Mobile], [ConsultationFee], [ProfileImage], [Location], [Status], [CreatedAt]) VALUES (2, 3, 1, N'Dr. Priya', N'Dermatology', N'MBBS, MD', 8, N'priya@medibook.com', N'9876500010', CAST(600.00 AS Decimal(10, 2)), NULL, N'Chennai', N'Active', CAST(N'2026-09-03T04:52:04.1352268' AS DateTime2))
INSERT [dbo].[Doctors] ([Id], [UserId], [HospitalId], [Name], [Specialization], [Qualification], [Experience], [Email], [Mobile], [ConsultationFee], [ProfileImage], [Location], [Status], [CreatedAt]) VALUES (3, 4, 2, N'Dr. Arun', N'Orthopedics', N'MBBS, MS', 12, N'arun@medibook.com', N'9876500011', CAST(700.00 AS Decimal(10, 2)), NULL, N'Teynampet', N'Active', CAST(N'2026-09-03T04:52:04.1352268' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([Id], [Name], [Type], [Category], [Address], [Location], [City], [State], [Phone], [Email], [Status], [CreatedAt]) VALUES (1, N'MediCare Hospital', N'Private', N'Multi-Specialty', N'123 Main Road', N'Chennai', N'Chennai', N'Tamil Nadu', N'9876543210', N'contact@medicare.com', N'Active', CAST(N'2026-09-03T04:42:02.7431794' AS DateTime2))
INSERT [dbo].[Hospitals] ([Id], [Name], [Type], [Category], [Address], [Location], [City], [State], [Phone], [Email], [Status], [CreatedAt]) VALUES (2, N'Apollo Care Hospital', N'Private', N'Multi-Specialty', N'45 Anna Salai', N'Teynampet', N'Chennai', N'Tamil Nadu', N'9876500001', N'apollo@medibook.com', N'Active', CAST(N'2026-09-03T04:51:11.7994315' AS DateTime2))
INSERT [dbo].[Hospitals] ([Id], [Name], [Type], [Category], [Address], [Location], [City], [State], [Phone], [Email], [Status], [CreatedAt]) VALUES (3, N'Kovai Medical Center', N'Private', N'Multi-Specialty', N'100 Avinashi Road', N'Peelamedu', N'Coimbatore', N'Tamil Nadu', N'9876500002', N'kovai@medibook.com', N'Active', CAST(N'2026-09-03T04:51:11.8086615' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [UserId], [Name], [Email], [Mobile], [DateOfBirth], [Gender], [BloodGroup], [Address], [City], [State], [Pincode], [CreatedAt]) VALUES (1, 2, N'Raksha', N'raksha@medibook.com', N'9876543211', CAST(N'2004-05-15' AS Date), N'Female', N'O+', N'Sample Address', N'Chennai', N'Tamil Nadu', N'600001', CAST(N'2026-09-03T04:46:33.7726487' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (1, N'Dr. Michael', N'michael@medibook.com', N'TEST_HASH', N'Doctor', 1, CAST(N'2026-09-03T04:43:31.5809091' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (2, N'Raksha', N'raksha@medibook.com', N'TEST_HASH', N'Patient', 1, CAST(N'2026-09-03T04:45:43.2687932' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (3, N'Dr. Priya', N'priya@medibook.com', N'TEST_HASH', N'Doctor', 1, CAST(N'2026-09-03T04:51:46.8259323' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345E219127]    Script Date: 03-09-2026 14:29:31 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DoctorSchedules] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Hospitals] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Hospitals] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Hospitals] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Hospitals]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Hospitals] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Hospitals]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSchedules_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorSchedules] CHECK CONSTRAINT [FK_DoctorSchedules_Doctors]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_Status] CHECK  (([Status]='Rescheduled' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_Status]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [CK_Doctors_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [CK_Doctors_Status]
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD  CONSTRAINT [CK_DoctorSchedules_Day] CHECK  (([DayOfWeek]='Sunday' OR [DayOfWeek]='Saturday' OR [DayOfWeek]='Friday' OR [DayOfWeek]='Thursday' OR [DayOfWeek]='Wednesday' OR [DayOfWeek]='Tuesday' OR [DayOfWeek]='Monday'))
GO
ALTER TABLE [dbo].[DoctorSchedules] CHECK CONSTRAINT [CK_DoctorSchedules_Day]
GO
ALTER TABLE [dbo].[DoctorSchedules]  WITH CHECK ADD  CONSTRAINT [CK_DoctorSchedules_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[DoctorSchedules] CHECK CONSTRAINT [CK_DoctorSchedules_Time]
GO
ALTER TABLE [dbo].[Hospitals]  WITH CHECK ADD  CONSTRAINT [CK_Hospitals_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Hospitals] CHECK CONSTRAINT [CK_Hospitals_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Hospital' OR [Role]='Patient' OR [Role]='Doctor' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
